.loginpress-login-page {
    .forgetmenot,
    .submit {
        float: none;
        clear: both;
    }
    form {
        .submit {
            .button-primary{
                width: 100%;
                float: none;
                clear: both;
            }
        }
    }
    #nav {
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    .authpress-seprator {
        display: none;
    }
    #backtoblog {
        padding: 0;
    }
}