.authpress-top-menu-group {
  margin-top: 10px;
  margin-bottom: 10px;
  .menu-item-wrapper {
    margin-left: 10px;
    margin-right: 10px;
    .menu-item.components-button {
      // border: 3px solid transparent;
      &:focus:not(:disabled) {
        box-shadow: none;
      }
      .components-menu-item__item {
        width: 100%;
        justify-content: space-between;
      }
    }
    .submenu {
      padding-top: 5px;
    }
    .menu-item-wrapper {
      margin-right: 0;
    }
    // has-submenu active open
    &.active{
      > .menu-item.components-button {
        background-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
        color: var(--wp-components-color-accent-inverted, #fff);
      }
    } 
    // &.open {
    //   > .menu-item.components-button {
    //     background-color: transparent;
    //     border-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
    //     color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
    //   }
    // }
  }
}