.authpress-settings-template {
    input[type="text"], 
    input[type="password"], 
    input[type="color"], 
    input[type="date"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="email"], 
    input[type="month"], 
    input[type="number"], 
    input[type="search"], 
    input[type="tel"], 
    input[type="time"], 
    input[type="url"], 
    input[type="week"], 
    select, 
    textarea {
        background-color: transparent;
        border-color: transparent;
    }
    .semi-typography {
        color: var(--semi-color-text-0);
        // font-family: var(--semi-font-family-0);        
    }
    h1.semi-typography, 
    .semi-typography-h1.semi-typography,
    h2.semi-typography, 
    .semi-typography-h2.semi-typography,
    h3.semi-typography, 
    .semi-typography-h3.semi-typography,
    h4.semi-typography, 
    .semi-typography-h4.semi-typography,
    h5.semi-typography, 
    .semi-typography-h5.semi-typography,
    h6.semi-typography,
    .semi-typography-h6.semi-typography,
    p, .wp-die-message {
        margin: 0;
    }
    h1.semi-typography, 
    .semi-typography-h1.semi-typography {
        font-size: 32px;
        line-height: 44px;
    }
    h2.semi-typography, 
    .semi-typography-h2.semi-typography {
        font-size: 28px;
        line-height: 40px;
    }
    h3.semi-typography, 
    .semi-typography-h3.semi-typography {
        font-size: 24px;
        line-height: 32px;
    }
    h4.semi-typography, 
    .semi-typography-h4.semi-typography {
        font-size: 20px;
        line-height: 28px;
    }
    h5.semi-typography, 
    .semi-typography-h5.semi-typography {
        font-size: 18px;
        line-height: 24px;
    }
    h6.semi-typography,
    .semi-typography-h6.semi-typography {
        font-size: 16px;
        line-height: 22px;
    }
}
