:root {
  --authpress-color: #720eec;
  --authpress-color-light: #00a0d2;
  --authpress-color-dark: #005177;
  --authpress-color-accent: #f7f7f7;
  --authpress-color-text: #333;
  --authpress-color-text-light: #fff;
}
.authpress-settings-template {
  position: relative;
  #wpcontent {
    padding-left: 0;
    #wpbody {
      #wpbody-content {
        padding-bottom: 0;
      }
    }
  }
  #wpfooter {
    display: none;
  }  
}
