:root {
  --authpress-color: #720eec;
  --authpress-color-light: #00a0d2;
  --authpress-color-dark: #005177;
  --authpress-color-accent: #f7f7f7;
  --authpress-color-text: #333;
  --authpress-color-text-light: #fff;
  
  --semi-color-bg-0: rgba(255, 255, 255, 1);
  --semi-color-bg-1: rgba(255, 255, 255, 1);
  --semi-color-bg-2: rgba(255, 255, 255, 1);
  --semi-color-bg-3: rgba(255, 255, 255, 1);
  --semi-color-bg-4: rgba(255, 255, 255, 1);
}
body[theme-mode=dark], body .semi-always-dark, :host([theme-mode=dark]), :host .semi-always-dark {  
  --semi-color-bg-0: rgba(22, 22, 26, 1);
  --semi-color-bg-1: rgba(35, 36, 41, 1);
  --semi-color-bg-2: rgba(53, 54, 60, 1);
  --semi-color-bg-3: rgba(67, 68, 74, 1);
  --semi-color-bg-4: rgba(79, 81, 89, 1);
}
.authpress-settings-template {
  position: relative;
  #wpcontent {
    padding-left: 0;
    #wpbody {
      #wpbody-content {
        padding-bottom: 0;
      }
    }
  }
  #wpfooter {
    display: none;
  }  
}
ul#adminmenu {
  li.toplevel_page_authpress {
    .wp-menu-image {
      img {
        padding-left: 7px;
      }
    }
    &.current {
      > a {
        &::after {
          border-right-color: var(--semi-color-bg-1);
        }
      }
    }
  }
}